<div class="home-page-container">
	<div class="home-page-logo-container">
		<div class="home-page-logo">
			<a href="#" class="home-page-logo-link">
				<img src="../../assets/home-page-logo.svg" alt="home-page-logo" />
			</a>
		</div>
	</div>
	<div class="home-page-form-container">
		<form class="home-page-search-form">
			<input type="text" placeholder="Query" name="query">
			<div class="home-page-dropdown-container add-after">
				<span><img src="../../assets/home-page-arrow.svg" alt="home-page-arrow" class="home-page-arrow"/></span>
				<label name="collection">Collections</label>
				<input type="hidden" name="collection" id="collection">
					<ul name="collections" class="collections">
					</ul>
			</div>
			<button type="submit" class="home-page-search-btn">Search</button>
		</form>
	</div>
</div>
<div class="spinner">
    <img src="../../assets/spinner.png" alt="">
</div>
