<div class="navbar-sticky-nav-container">
    <div class="navbar-logo-container">
        <img src="../../assets/navbar-logo-bg.svg" />
        <img src="../../assets/navbar-logo-fg.svg" />
    </div>
    <div class="navbar-form-container">
        <form class="navbar-search-form">
            <input type="text" placeholder="Query" name="query">
            <div class="navbar-dropdown-container add-after">
                <span><img src="../../assets/home-page-arrow.svg" alt="arrow" class="navbar-arrow"></span>
                <label name="collection">Collections</label>
                <input type="hidden" name="collection" id="collection">
                <ul name="collections" class="collections">
                </ul>
            </div>
            <button type="submit" class="navbar-search-btn">Search</button>
        </form>
    </div>
</div>

<div class="spinner">
    <img src="../../assets/spinner.png" alt="">
</div>